In [4]:
# depencies
import pandas as pd
import os 
import csv
import numpy as np

In [5]:
#Import files
collegeBball = "Resources/CollegeBasketballPlayers2009-2021.csv"
currcollegeBball = "Resources/CollegeBasketballPlayers2022.csv"
draftPlayers = "Resources/DraftedPlayers2009-2021.csv"

In [6]:
#College Players 2009-2021 Dataframe
pastColPlayersDF = pd.read_csv(collegeBball)
pastColPlayersDF.head(3)

/Users/ryan/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,NaN,6.22026
1,Pooh Williams,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,...,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,NaN,3.94375
2,Jesus Verdejo,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,...,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,NaN,10.92680

In [7]:
# read files and create College basketball players 2022 df
currColPlayersDF = pd.read_csv(currcollegeBball)
currColPlayersDF.head()

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,Isaiah Felder,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,...,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.0000,2.3636,Wing G,12.226400
1,Jalen Coleman-Lands,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,...,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.0870,14.3043,Wing G,11.095900
2,K.J. Walton,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,...,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.2000,16.3500,Wing G,0.284581
3,Jeriah Horne,Tulsa,Amer,32,61.3,116.0,20.8,55.2,58.61,5.8,...,1.721580,1.1250,4.7188,5.8438,0.9062,0.5938,0.0625,10.8125,Stretch 4,10.140700
4,Eric Curry,Minnesota,B10,29,39.2,95.1,14.7,46.3,48.72,7.0,...,2.746770,1.1034,1.9655,3.0690,0.8276,0.8276,0.2414,3.6552,Wing F,2.562430

In [8]:
# read files and create drafted players 2009-2021 df
draftPlayersDF = pd.read_csv(draftPlayers)
draftPlayersDF.head()

,PLAYER,TEAM,AFFILIATION,YEAR,ROUND NUMBER,ROUND PICK,OVERALL PICK
0,Cade Cunningham,Detroit Pistons,Oklahoma State,2021,1,1,1
1,Jalen Green,Houston Rockets,Ignite (G League),2021,1,2,2
2,Evan Mobley,Cleveland Cavaliers,Southern California,2021,1,3,3
3,Scottie Barnes,Toronto Raptors,Florida State,2021,1,4,4
4,Jalen Suggs,Orlando Magic,Gonzaga,2021,1,5,5

In [32]:
# rename player column in draftPlayersDF
draftPlayersDF = draftPlayersDF.rename(columns={"PLAYER":"player_name","TEAM":"nba team","AFFILIATION":"team","YEAR":"year", "OVERALL PICK":"pick"})
draftPlayersDF.head(3)

,player_name,nba team,team,year,ROUND NUMBER,ROUND PICK,pick
0,Cade Cunningham,Detroit Pistons,Oklahoma State,2021,1,1,1
1,Jalen Green,Houston Rockets,Ignite (G League),2021,1,2,2
2,Evan Mobley,Cleveland Cavaliers,Southern California,2021,1,3,3

In [39]:
pastColPlayersDF['pick'].fillna("Undrafted",inplace= True)
pastColPlayersDF.head()

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,DeAndrae Ross,South Alabama,SB,26,29.5,97.3,16.6,42.5,44.43,1.6,...,-1.941150,0.1923,0.6154,0.8077,1.1923,0.3462,0.0385,3.8846,NaN,6.22026
1,Pooh Williams,Utah St.,WAC,34,60.9,108.3,14.9,52.4,54.48,3.8,...,-0.247934,0.6765,1.2647,1.9412,1.8235,0.4118,0.2353,5.9412,NaN,3.94375
2,Jesus Verdejo,South Florida,BE,27,72.0,96.2,21.8,45.7,47.98,2.1,...,-0.883163,0.6296,2.3333,2.9630,1.9630,0.4815,0.0000,12.1852,NaN,10.92680
3,Mike Hornbuckle,Pepperdine,WCC,30,44.5,97.7,16.0,53.6,53.69,4.1,...,-0.393459,0.7000,1.4333,2.1333,1.1000,0.5667,0.1333,4.9333,NaN,6.77427
4,Anthony Brown,Pacific,BW,33,56.2,96.5,22.0,52.8,54.31,8.3,...,-0.668318,1.4242,3.3030,4.7273,0.8485,0.4545,0.3333,7.5758,NaN,0.00000

In [44]:
draftPlayersDF['pick'].fillna("Undrafted",inplace= True)
draftPlayersDF['pick'].head(50)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
30    31
31    32
32    33
33    34
34    35
35    36
36    37
37    38
38    39
39    40
40    41
41    42
42    43
43    44
44    45
45    46
46    47
47    48
48    49
49    50
Name: pick, dtype: int64

In [45]:
# replacing numeric values for boolean values
pastColPlayersDF.loc[pastColPlayersDF['pick'] !="Undrafted", 'pick'] = "Drafted"
pastColPlayersDF['pick'].head(50)

0     Undrafted
1     Undrafted
2     Undrafted
3     Undrafted
4     Undrafted
5     Undrafted
6     Undrafted
7     Undrafted
8     Undrafted
9     Undrafted
10    Undrafted
11    Undrafted
12    Undrafted
13    Undrafted
14    Undrafted
15    Undrafted
16    Undrafted
17    Undrafted
18    Undrafted
19    Undrafted
20    Undrafted
21    Undrafted
22    Undrafted
23    Undrafted
24    Undrafted
25    Undrafted
26    Undrafted
27    Undrafted
28    Undrafted
29    Undrafted
30    Undrafted
31    Undrafted
32    Undrafted
33      Drafted
34    Undrafted
35    Undrafted
36    Undrafted
37    Undrafted
38    Undrafted
39    Undrafted
40    Undrafted
41    Undrafted
42    Undrafted
43    Undrafted
44    Undrafted
45    Undrafted
46    Undrafted
47    Undrafted
48    Undrafted
49    Undrafted
Name: pick, dtype: object

In [47]:
# replacing numeric values for boolean values
draftPlayersDF.loc[draftPlayersDF['pick'] !="Undrafted", 'pick'] = "Drafted"
draftPlayersDF['pick'].head(50)

0     Drafted
1     Drafted
2     Drafted
3     Drafted
4     Drafted
5     Drafted
6     Drafted
7     Drafted
8     Drafted
9     Drafted
10    Drafted
11    Drafted
12    Drafted
13    Drafted
14    Drafted
15    Drafted
16    Drafted
17    Drafted
18    Drafted
19    Drafted
20    Drafted
21    Drafted
22    Drafted
23    Drafted
24    Drafted
25    Drafted
26    Drafted
27    Drafted
28    Drafted
29    Drafted
30    Drafted
31    Drafted
32    Drafted
33    Drafted
34    Drafted
35    Drafted
36    Drafted
37    Drafted
38    Drafted
39    Drafted
40    Drafted
41    Drafted
42    Drafted
43    Drafted
44    Drafted
45    Drafted
46    Drafted
47    Drafted
48    Drafted
49    Drafted
Name: pick, dtype: object

In [48]:
#preview Undrafted players at bottom of DF
#pastColPlayersDF[['player_name', 'team','pick']].tail(50)

In [49]:
#pastColPlayersDF['pick']

In [50]:
#(pastColPlayersDF == 'Lonzo Ball').sum()

In [56]:
# Join draft players df 09-21 and college basketball players 09-21 df on player name,team, and year
newdraftDF = pd.merge(pastColPlayersDF,draftPlayersDF,on=["player_name","pick"], how='outer')
newdraftDF

,player_name,team_x,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,stl,blk,pts,Unnamed: 64,Unnamed: 65,nba team,team_y,year_y,ROUND NUMBER,ROUND PICK
0,DeAndrae Ross,South Alabama,SB,26.0,29.5,97.3,16.6,42.5,44.43,1.6,...,0.3462,0.0385,3.8846,NaN,6.22026,NaN,NaN,NaN,NaN,NaN
1,DeAndrae Ross,Troy,SB,7.0,11.5,67.1,16.9,34.5,36.11,3.1,...,0.1429,0.0000,3.2857,Wing G,7.67089,NaN,NaN,NaN,NaN,NaN
2,Pooh Williams,Utah St.,WAC,34.0,60.9,108.3,14.9,52.4,54.48,3.8,...,0.4118,0.2353,5.9412,NaN,3.94375,NaN,NaN,NaN,NaN,NaN
3,Pooh Williams,Utah St.,WAC,32.0,64.0,108.3,18.1,53.0,53.33,2.3,...,0.5938,0.2188,8.7812,Combo G,7.30085,NaN,NaN,NaN,NaN,NaN
4,Pooh Williams,Utah St.,WAC,33.0,64.5,105.6,18.7,48.1,52.40,0.8,...,0.2121,0.0909,8.6667,Combo G,9.66297,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61253,Henk Norel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Minnesota Timberwolves,Joventut Badalona (Spain),2009.0,2.0,17.0
61254,Sergiy Gladyr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Atlanta Hawks,MBC Mykolaiv (Ukraine),2009.0,2.0,19.0
61255,AJ Price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Indiana Pacers,Connecticut,2009.0,2.0,22.0
61256,Nando De Colo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,San Antonio Spurs,Cholet Basket (France),2009.0,2.0,23.0
61257,Emir Preldzic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Phoenix Suns,Fenerbahce S.K. (Turkey),2009.0,2.0,27.0

In [17]:
# check for and drop null values in college Players 2022
#currColPlayersDF['team'].isna().sum()

0

In [57]:
#drop pid column from newdraftDF 
newdraftDF = newdraftDF.drop(columns='pid')
newdraftDF.head(3)

,player_name,team_x,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,stl,blk,pts,Unnamed: 64,Unnamed: 65,nba team,team_y,year_y,ROUND NUMBER,ROUND PICK
0,DeAndrae Ross,South Alabama,SB,26.0,29.5,97.3,16.6,42.5,44.43,1.6,...,0.3462,0.0385,3.8846,NaN,6.22026,NaN,NaN,NaN,NaN,NaN
1,DeAndrae Ross,Troy,SB,7.0,11.5,67.1,16.9,34.5,36.11,3.1,...,0.1429,0.0000,3.2857,Wing G,7.67089,NaN,NaN,NaN,NaN,NaN
2,Pooh Williams,Utah St.,WAC,34.0,60.9,108.3,14.9,52.4,54.48,3.8,...,0.4118,0.2353,5.9412,NaN,3.94375,NaN,NaN,NaN,NaN,NaN

In [58]:
# drop pid column from current college players df
potentialdraftDF = currColPlayersDF.drop(columns='pid')
potentialdraftDF.head(3)

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,Isaiah Felder,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,...,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.000,2.3636,Wing G,12.226400
1,Jalen Coleman-Lands,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,...,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.087,14.3043,Wing G,11.095900
2,K.J. Walton,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,...,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.200,16.3500,Wing G,0.284581

In [59]:
#update the pick column to draft status
newdraftDF = newdraftDF.rename(columns={"pick":"draft_status"})
newdraftDF.head(2)

,player_name,team_x,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,stl,blk,pts,Unnamed: 64,Unnamed: 65,nba team,team_y,year_y,ROUND NUMBER,ROUND PICK
0,DeAndrae Ross,South Alabama,SB,26.0,29.5,97.3,16.6,42.5,44.43,1.6,...,0.3462,0.0385,3.8846,NaN,6.22026,NaN,NaN,NaN,NaN,NaN
1,DeAndrae Ross,Troy,SB,7.0,11.5,67.1,16.9,34.5,36.11,3.1,...,0.1429,0.0000,3.2857,Wing G,7.67089,NaN,NaN,NaN,NaN,NaN

In [60]:
#update the pick column to draft status

potentialdraftDF = potentialdraftDF.rename(columns={"pick":"draft_status"})
potentialdraftDF.head(3)

,player_name,team,conf,GP,Min_per,Ortg,usg,eFG,TS_per,ORB_per,...,dgbpm,oreb,dreb,treb,ast,stl,blk,pts,Unnamed: 64,Unnamed: 65
0,Isaiah Felder,South Carolina St.,MEAC,11,17.6,61.1,18.6,34.7,35.18,2.5,...,-4.412530,0.2727,1.4545,1.7273,0.4545,0.1818,0.000,2.3636,Wing G,12.226400
1,Jalen Coleman-Lands,Kansas,B12,23,78.5,103.1,21.5,54.0,56.12,3.6,...,-1.019000,1.0435,2.8696,3.9130,1.1739,0.8261,0.087,14.3043,Wing G,11.095900
2,K.J. Walton,Akron,MAC,20,63.0,108.6,26.5,54.3,58.88,9.1,...,-0.335789,2.3500,3.5500,5.9000,1.1500,1.2500,0.200,16.3500,Wing G,0.284581

In [61]:
#  replace all null values in the pick column of the potentialdrafDF with "not drafted"
potentialdraftDF['draft_status'].fillna("Undrafted",inplace= True)
potentialdraftDF['draft_status'].isna().sum()

0

In [62]:
# export cleaned newdraft dataframe
newdraftDF.to_csv('Resources/Updated_new_draft.csv')

In [63]:
# export cleaned potentialdraft dataframe 
potentialdraftDF.to_csv('Reources/Potential_Draft.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'Reources/Potential_Draft.csv'